**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pkl
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.egg-info
**/*.egg
**/*.dist-info
**/*.whl
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/.tox
**/.vscode
**/.idea
**/.ipynb_checkpoints
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/build
**/coverage.xml
**/htmlcov
**/coverage/
**/coverage_html_report
**/coverage.json
**/coverage.xml